html {
  box-sizing: border-box;
}

body {
min-width: 320px;
margin: 0;
padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../FONTS/Montserrat-Bold.woff2") format("woff2"),
    url("../FONTS/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../FONTS/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../FONTS/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../FONTS/Montserrat-Regular.woff2") format("woff2"),
    url("../FONTS/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}



img {
max-width: 760px;
max-height: 760px
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .img {
    display: flex;
    justify-content: center;
  }
  
  ul {
    display: flex;
    justify-content: center;
  }


  .container {
    max-width: 100%; /* Ширина контейнера будет 100% экрана */
    margin: 0;
    padding: 0 20px; /* Добавьте небольшие отступы для мобильных устройств */
  }
  
  /* Медиазапрос для мобильных устройств */
  @media (max-width: 768px) {
    .container {
      padding: 0 10px; /* Уменьшите отступы для меньших экранов */
    }
  
    .parent {
      grid-template-columns: 1fr; /* Один столбец для мобильных устройств */
    }
  
    ul {
      justify-content: center;
    }
  
    img {
      max-width: 100%; /* Изображения будут адаптивными по ширине */
      height: auto; /* Сохраните пропорции изображений */
    }
  }